:root {
    --primary--color: darkblue;
    --nav-pill-color: lightblue;
    --text-color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header {
    background-color: var(--primary--color);
    padding: 15px 3rem;
    /* margin-bottom: 100px; */
}
/* logo */
.logo {
    color: var(--nav-pill-color);
}
.nav {
    display: flex;
    justify-content: end;
    gap: 10px;
}
.nav-pill {
    font-size: large;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 15px;
    padding: 5px 10px;
    background-color: var(--nav-pill-color);
}
.nav-pill:hover {
    opacity: 0.5;
}
.nav-pill.active{
    background-color: blue;
}

#productsDisplay {
    /* justify-content: right; */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.product-card {
    width: 250px;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0, 7px 7px rgba(0, 47, 255, 0.3);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.product-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.orignal-price {
    text-decoration: line-through;
    color: var(--nav-pill-color);
    margin-left: 6px;
}

.discount {
    color: blue;
    font-weight: bold;
    margin-left: 6px;
}

main {
    margin: 3rem;
}

.card-cart-button-strip,
.card-rating-discount-strip {
    display: flex;
    justify-content: space-between;
}

#cart-button {
    text-decoration: none;
    color: var(--text-color);
    font-size: large;
    /* font-weight: bold; */
    padding: 3px 6px;
    border-radius: 10px;
    background-color: var(--nav-pill-color);
}